<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css"> 
</head>
<body>
    <footer class="footer">
        <div class="footer-content">
          <div class="logo-description">
            <img src="/assets/e-tech-logo.svg" alt="E-Tech Sustain Logo" class="footer-logo">
            <p>E-TechSustain es un e-commerce centrado en tecnología y gaming, con una comunidad que promueve la sostenibilidad ambiental. Facilita la compra, venta, subasta y recomendación de productos, contribuyendo a la reducción de residuos electrónicos.</p>
            <div class="rating">
            <p>Aplicación favorita de la familia ★★★★★ </p> 
            </div>
          </div>
          <div class="footer-links">
            <div class="footer-column">
              <h3>Nuestros productos</h3>
              <ul>
                <li><a href=>Tecnológicos</a></li>
                <li><a href=>Descuentos</a></li>
                <li><a href=>Destacados</a></li>
                <li><a href=>Nuestros aliados</a></li>
                <li><a href=>Ver todo el catálogo</a></li>
              </ul>
            </div>
            <div class="footer-column">
              <h3>Comunidad sostenible</h3>
              <ul>
                <li><a href=>Blog</a></li>
                <li><a href=>Compra y Venta</a></li>
                <li><a href=>Responsabilidad sostenible</a></li>
                <li><a href=>Contáctanos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <p>© 2024 E-TechSustain. Todos los derechos reservados. | Condiciones y restricciones | Política de privacidad | Menciones legales</p>
          <div class="payment-options">
            <img src="/assets/e-tech-pagos.svg" alt="Visa">
          </div>
        </div>
      </footer>
</body>
</html>