@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");

/* Inicio Banner de 1 imagen*/

.banner-contentimg {
  width: 100%;
  max-width: 100%;
  overflow: hidden
}

.banner-contentimg img {
  width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  display: block; /* Elimina el espacio en blanco debajo de la imagen */
}


.banner-contentimg h1 {
  margin: 0;
  padding: 10px;
  font-size: 2.4rem;
  text-align: center;
  background-color: #03ba85;
  border-radius: 0 0 15px 15px;
  color: #fff;
}

/*Fin Banner de 1 imagen*/

img.iconlogo {
  display: block;
  margin: 0 auto;
  width: 7%;
  margin-bottom: -11px;
}

img.formatofot {
  width: 66%;
}

h3.unet  {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  color: #064466;
  margin-bottom: auto;
}
p.sosteni  {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
  
}

h3.textname {
  font-size: 1.5rem !important;
  color: #011536;
  
}

h3.ayud  {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  color: #064466;
  margin-bottom: auto;
}

.divs-secti {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 
}

.contrainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, rgb(3 186 133 / 39%), rgb(6 68 102 / 15%));
  padding: 30px;
  width: 100%;
  margin-bottom: -113px;
}

/* Parte inicio de formulario vender  */
.form-container {
  margin: 20px auto;
  padding: 53px;
  /*background-color: #fff;*/
  border-radius: 8px;
  display: block;
  justify-content: center;
  align-items: center;
  width: 32%;
  }
  
  .sell-button {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    padding: 25px;
    background: linear-gradient(75deg, rgba(0,89,145,1) 0%, rgba(3,186,133,1) 41%, rgba(0,89,145,1) 100%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
  }
  
  .sell-button:hover {
    background: rgb(1, 21, 54);
    color: #fff;
  }
  
  .form-section {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  select,
  input[type="file"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .image-upload-container {
    display: flex;
    justify-content: space-between;
  }
  
  input[type="file"] {
    width: auto;
    background-color: #e7e7e7;
  }
  
  input[type="submit"] {
    background-color: #064466;
    color: white;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #03BA85;
  }
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);  
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  /* esta es la parte de cerrar la pestaña del formulario */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  }
  /* Fin formulario compras*/

  