.container-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    padding: 2rem 3rem;
    border-radius: 10px;
    background-color: #24646025;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.profile-img{
    width: 100px;
    height: 100px;
    border: 3px solid #03BA85;
    border-radius: 50%;
    margin-bottom: 20px;
}
.log-out{
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    padding: .5rem;
    border-radius: 5px;
    background-color: #03BA85;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease all;
}
.log-out:hover{
    background-color: #065169;
}
.icon-btn{
    font-size: 1.5rem;
    margin-left: 5px;
}
#user-name{
    font-size: 2rem;
    font-weight: bold;
}
#user-email{
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s ease all;
}
#user-email:hover{
    color: #065169;
    cursor: grab;
}
.btn-sell{
    width: auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(75deg, rgba(0,89,145,1) 0%, rgba(3,186,133,1) 41%, rgba(0,89,145,1) 100%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.6s ease all;
    cursor: pointer;
}
.btn-sell:hover{
  background: #065169;
}
.profile-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.profile-menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.profile-menu ul li{
    font-weight: bold;
    transition: 0.3s ease all;
    cursor: pointer;
}
.profile-menu ul li a{
    text-decoration: none;
    color: #065169;
}
.profile-menu ul li a:hover{
    color: #03BA85;
}


