@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  scrollbar-color: #03ba85 #fff;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}
/* Inicio navbar */
.nav-wrapper {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #fff;
  border-bottom: 10px solid;
  border-image: linear-gradient(to right, #03ba85, #064466);
  border-image-slice: 1;
  /* position: fixed;
  top: 0;
  width: 100%;
  z-index: 99; */
}
.nav-wrapper .brand-logo {
  width: 100px;
}
.brand-logo img {
  max-width: 8rem;
}
.menu-mobile{
  width: 100%;
}
.list-menu,
.menu-mobile {
  display: flex;
  align-items: center;
  list-style: none;
}
.list-menu {
  width: 70%;
  justify-content: space-around;
}
.list-menu li a.activo {
  position: relative;
}
.list-menu li a.activo::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #03ba85, #064466);
  position: absolute;
  bottom: -1px;
  left: 0;
}
.container-btns {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
.btn-log{
  background-color: #03ba85;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: .9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-log:hover {
  background-color: #064466;
}
.list-menu {
  justify-content: center;
  font-weight: 600;
}
.list-menu a {
  text-decoration: none;
  color: #064466;
  padding: 10px;
}
.list-menu a:hover {
  color: #03BA85;
  padding: 10px;
  position: relative;
  
}
.btn-menu,
.icon {
  display: flex;
  gap: 1rem;
}
.btn-menu .icon {
  font-size: 1rem;
  text-decoration: none;    
  color: #fff;
  background: #03ba85;
  padding: 0.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
.btn-menu .icon:hover {
  background: #064466;
}
.btn-text {
  display: none;
}
.icon-mobile,
.icon-close {
  display: none;
}

.about-section {
  max-width: 600px;
  margin: 50px auto;
  padding: 15px 10px 5px 10px;
  
}

h1.nos{
  text-align: center;
  font-family:"Roboto", sans-serif ;
  color: #064466;
}

.nos{
  text-align: center;
}
@media screen and (max-width: 768px) {
  .nav-wrapper {
    justify-content: space-between;
  }
  .icon-mobile {
    display: block;
    font-size: 1.5rem;
    color: #064466;
    cursor: pointer;
  }
  .menu-mobile {
    transform: translateY(-120%);
    position: fixed;
    width: 100%;
    height: 75vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  }
  .list-menu {
    padding: 0;
    margin-bottom: 2rem;
  }
  .menu-mobile .list-menu,
  .btn-menu, .container-btns {
    flex-direction: column;
    gap: 1rem;
  }
  .menu-mobile.active {
    transform: translateY(0);
  }
  .icon-close {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #064466;
    cursor: pointer;
  }
  .icon-close:hover {
    color: #8c0e21;
  }
  .btn-text {
    display: flex;
    align-items: center;
  }
  .container-btns {
    padding: 1rem 0 0 0;
    width: 100%;
  }
}

/* Inicio de banner */

.banner {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-out;
  background-image: url("../assets/img/banner1.jpg");
  animation: banner 28s infinite linear;
}
.banner-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 22, 40, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-content h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  font-size: 40px;
  text-align: center;
}
.banner-content a {
  text-decoration: none;
  color: #fff;
  padding: 9px 20px;
  border: 1px solid #fff;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.banner-content a:hover {
  background-color: #fff;
  color: #333;
}
@keyframes banner {
  0% {
    background-image: url("../assets/img/banner1.jpg");
  }
  25% {
    background-image: url("../assets/img/banner1.jpg");
  }

  26% {
    background-image: url("../assets/img/banner-2.jpg");
  }
  50% {
    background-image: url("../assets/img/banner-2.jpg");
  }

  51% {
    background-image: url("../assets/img/banner-3.jpg");
  }
  75% {
    background-image: url("../assets/img/banner-3.jpg");
  }

  76% {
    background-image: url("../assets/img/banner-4.jpg");
  }
  100% {
    background-image: url("../assets/img/banner-4.jpg");
  }
}
/*Diseño Responsivo Banner */
@media (max-width: 767px) {
  .NoScroll {
    overflow-y: hidden;
  }
}

/* col-sm */
@media (min-width: 768px) and (max-width: 991px) {
}

/* col-md */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* col-lg */
@media (min-width: 1200px) {
}

/*col-sm col-md col-lg*/
@media (min-width: 768px) {
  .Login {
    border: 1px solid #e1e1e1;
    position: absolute;
    top: 62px;
    width: 250px;
  }
  .Login::after,
  .Login::before {
    bottom: 100%;
    right: 14px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
}


/* Inicio de nuestro equipo / destacados */

.equipo-title {
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #011536;
  font-size: 2rem;
  overflow: hidden;
  margin-top: -30px;
}

.equipo-title::before {
  content: "";
  /* position: absolute; */
  width: 6%;
  height: 3px;
  background: linear-gradient( to right, #03ba85, #037f83, #011536 );
  transform: translateX(-49%);
  transition: transform 0.5s ease;
  z-index: -1;
  top: 0;
  margin: 15px;
}

.equipo-title:hover::before {
  transform: translateX(0);
}

.equipo-title img {
  margin-left: 10px;
}

.divs-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.div-item {
  flex: 1;
  height: 450px;
  max-width: 300px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

img.formatofoto {
  width: 86%;
}

img.equipoicon {
  width: 6%;
}

.seccion-titulo {
  text-align: center;
  padding: 20px;
}
/* Productos Destacados*/


h1#title-head {
  text-align: center;
  color: #03ba85;
  /*background-color: #011536;*/
}

/*=============== CARD ===============*/
.contaainer{
  display: flex;
  justify-content: center;
  align-items: center;
  /*background-color: #011536;*/
  /*background: linear-gradient(to right, #03BA85, #064466);*/
  background: linear-gradient(to right, rgb(3 186 133 / 39%), rgb(6 68 102 / 15%));

  padding: 30px;
}

.swiper-wrapper{
  max-height: 450px !important;
}

.card__container{
  padding-block: 5rem;
}

.card__content{
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__article{
  width: 300px;
  height: 100% !important;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card__image{
  position: relative;
  background-color: white;
  width: 100%;
  overflow: hidden;
  height: 200px;
}
.card__image img{
  background-position: center;
  
  object-fit: cover;
}
.card__data {
  background-color: #021d2b;
  padding: 1.5rem 2rem;
  /* border-radius: 1rem; */
  text-align: center;
  position: relative;
  /* z-index: 10; */
}

.card__img{
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card__shadow{
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name{
  font-size: 1.25rem;
  color: #03BA85;
  margin-bottom: .75rem;
}

.card__description{
  font-weight: 500;
  margin-bottom: 1.75rem;
  font-size: 1.75rem;
  color: white;
}

.card__button{
  display: inline-block;
  background-color: #03BA85;
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  color: #011536;
  cursor: pointer;
}

.card__button button{
  background-color: transparent;
  font-weight: 600;
  border: none;
}

.card__button:hover{
  display: inline-block;
  background-color: white;
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  color: #03BA85;
  font-weight: 600;
}


/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after{
  content: "";
  display: none;
}


.swiper-button-next,
.swiper-button-prev{
  width: initial;
  height: initial;
  font-size: 3rem;
  color: #03ba85;
  display: none; 
}

.swiper-button-prev{
  left: 0;
}
.swiper-button-next{
  right: 0;
}

.swiper-pagination-bullet{
  background-color: #03ba85;
  opacity: 1;
}

.swiper-pagination-bullet-active{
  background-color: #03ba85;
}

h3.unet  {
  font-family: "Roboto", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
  color: #064466;
  margin-bottom: auto;
}

p.ayud {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  color: #068c96;
  margin-bottom: auto;
}

img.formatfot {
width: 10%;
display: block;
margin: 0 auto;
}

/*Servidor Discord */

.rowconimg {
  
background-size: cover;
background-position: center;
background: linear-gradient(to right, rgb(3 186 133 / 39%), rgb(6 68 102 / 15%));
padding: 2rem;
position: relative;
}

.rowconimages{
position: absolute; 
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url('/assets/Image20240216140140.png');
background-size: auto;
background-repeat: repeat;
opacity: 0.5;
}

.canalcomundis {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
  
}

/*Fin Servidor Discord */

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .card__data{
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content{
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev{
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container{
    max-width: 1120px;
  }

  .swiper-button-next{
    right: -1rem;
  }

  .swiper-button-prev{
    left: -1rem;
  }
}

#nuestro-equipo {
  color: #011536;
  align-items: center;
  font-size: 2rem;
  margin: 0 0 0 -26px;
  padding: 5px;
}



h3.textnames {
  font-size: 1.5rem !important ;
  color: #011536;
  margin-bottom: -24px;
}

p.textdev {
  font-size: 1.3rem !important ;
  color: #03ba85;
  margin-bottom: -13px;
}

/* inicio de footer */
.footer {
  background-color: #246460;
  color: white;
  padding: 20px 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.logo-description {
  flex: 2;
  max-width: 50%;
}
.footer-logo {
  width: 180px;
}
.footer-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-column h3 {
  margin-bottom: 30px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  margin-top: 10px;
  position: relative;
  border-top: 1px solid #fff;
}

.payment-options img {
  width: 70%;
  /* height: 20px; */
 /* margin-left: 115px;*/
}

.espa {
  margin: 3px;
}

.nosal {
  padding: 1%;
}



@media (max-width: 768px) {
  .footer-content,
  .footer-bottom {
    flex-direction: column;
    align-items: center;
  }

  .footer-links,
  .payment-options {
    flex-direction: column;
    align-items: center;
  }

  .logo-description,
  .footer-logo {
    max-width: 100%;
  }

  .footer-column {
    align-items: center;
    margin-bottom: 20px;
  }
}

