/* Inicio Banner de 1 imagen*/

.banner-contentimg {
  width: 100%;
  max-width: 100%;
  overflow: hidden
}

.banner-contentimg #banner.img {
  width: 100%;
  /* Hace que la imagen se ajuste al ancho del contenedor */
  height: auto;
  /* Permite que la altura se ajuste automáticamente */
  display: block;
  /* Elimina el espacio en blanco debajo de la imagen */
}


.banner-contentimg h1 {
  margin: 0;
  padding: 10px;
  font-size: 2.4rem;
  text-align: center;
  background-color: #03ba85;
  border-radius: 0 0 15px 15px;
  color: #fff;
}

/*Fin Banner de 1 imagen*/

.historial-shopping {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #064466;
  margin-bottom: 20px;
}

.historial-shopping .image-vacio {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  filter: grayscale(80%) hue-rotate(180deg);
}
#historial-shopping-container{
  
}
.card-shop{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 1px solid #03ba85;
  border-radius: 10px;
  box-shadow: 0 0 10px #03ba85;
}
.card-img-top{
  width: 15vw;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

@media screen and (max-width: 440px) {
  .card-shop{
    flex-direction: column;
  }
  .card-img-top{
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  
}

